# 1st week
## Training quiz

In [16]:
import pandas as pd
import numpy as np
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [17]:
data = pd.read_csv('water.csv', delimiter='\t')

In [18]:
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
5     North         Bolton       1558        10
6     North         Bootle       1807        15
7     South    Bournemouth       1299        78
8     North       Bradford       1637        10
9     South       Brighton       1359        84
10    South        Bristol       1392        73
11    North        Burnley       1755        12
12    South        Cardiff       1519        21
13    South       Coventry       1307        78
14    South        Croydon       1254        96
15    North     Darlington       1491        20
16    North          Derby       1555        39
17    North      Doncaster       1428        39
18    South       East Ham       1318       122
19    South         Exeter       1260        21
20    North      Gateshead       1723        44
21    North        Grimsby       1379        94
22    North        Halifax       1742         8
23    North   Huddersfield       1574         9
24    North           Hull       1569        91
25    South        Ipswich       1096       138
26    North          Leeds       1591        16
27    South      Leicester       1402        37
28    North      Liverpool       1772        15
29    North     Manchester       1828         8
..      ...            ...        ...       ...
31    North      Newcastle       1702        44
32    South        Newport       1581        14
33    South    Northampton       1309        59
34    South        Norwich       1259       133
35    North     Nottingham       1427        27
36    North         Oldham       1724         6
37    South         Oxford       1175       107
38    South       Plymouth       1486         5
39    South     Portsmouth       1456        90
40    North        Preston       1696         6
41    South        Reading       1236       101
42    North       Rochdale       1711        13
43    North      Rotherham       1444        14
44    North      St Helens       1591        49
45    North        Salford       1987         8
46    North      Sheffield       1495        14
47    South    Southampton       1369        68
48    South       Southend       1257        50
49    North      Southport       1587        75
50    North  South Shields       1713        71
51    North      Stockport       1557        13
52    North          Stoke       1640        57
53    North     Sunderland       1709        71
54    South        Swansea       1625        13
55    North       Wallasey       1625        20
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [19]:
mortality_data = data['mortality']

In [20]:
mortality_mean = mortality_data.mean()

In [21]:
mortality_mean_std = mortality_data.std(ddof=1)/np.sqrt(len(mortality_data))

In [22]:
print("mortality 95%% confidence interval {}".format(_tconfint_generic(mortality_mean, mortality_mean_std,
                                                                       len(mortality_data) - 1,
                                                                       0.05, 'two-sided')))

mortality 95%% confidence interval (1476.0833413552848, 1572.2117406119285)

In [29]:
mortality_south_data = data[data['location'] == 'South']['mortality']

In [30]:
mortality_south_mean = mortality_south_data.mean()

In [31]:
mortality_south_mean_std = mortality_south_data.std(ddof=1)/np.sqrt(len(mortality_south_data))

In [32]:
print("South cities mortality 95%% confidence interval {}".format(_tconfint_generic(mortality_south_mean, 
                                                                                    mortality_south_mean_std,
                                                                                    len(mortality_south_data) - 1,
                                                                                    0.05, 'two-sided')))

South cities mortality 95%% confidence interval (1320.1517462936238, 1433.463638321761)

In [33]:
mortality_north_data = data[data['location'] == 'North']['mortality']

In [34]:
mortality_north_mean = mortality_north_data.mean()

In [35]:
mortality_north_mean_std = mortality_north_data.std(ddof=1)/np.sqrt(len(mortality_north_data))

In [36]:
print("North cities mortality 95%% confidence interval {}".format(_tconfint_generic(mortality_north_mean, 
                                                                                    mortality_north_mean_std,
                                                                                    len(mortality_north_data) - 1,
                                                                                    0.05, 'two-sided')))

North cities mortality 95%% confidence interval (1586.5605251961385, 1680.6394748038613)

In [38]:
hardness_south_data = data[data['location'] == 'South']['hardness']
hardness_north_data = data[data['location'] == 'North']['hardness']

hardness_south_mean = hardness_south_data.mean()
hardness_north_mean = hardness_north_data.mean()

hardness_south_mean_std = hardness_south_data.std(ddof=1)/np.sqrt(len(hardness_south_data))
hardness_north_mean_std = hardness_north_data.std(ddof=1)/np.sqrt(len(hardness_north_data))

print("South cities hardness 95%% confidence interval {}".format(_tconfint_generic(hardness_south_mean, 
                                                                                    hardness_south_mean_std,
                                                                                    len(hardness_south_data) - 1,
                                                                                    0.05, 'two-sided')))

print("North cities hardness 95%% confidence interval {}".format(_tconfint_generic(hardness_north_mean, 
                                                                                    hardness_north_mean_std,
                                                                                    len(hardness_north_data) - 1,
                                                                                    0.05, 'two-sided')))

South cities hardness 95%% confidence interval (53.467198692036106, 86.071262846425441)
North cities hardness 95%% confidence interval (21.422487285724259, 39.377512714275738)